<div class="videoCard " *ngIf="video;else placeholderTemplate">
  <img [class]="screenSize" [src]="video['thumbnails']&&video['thumbnails'][screenSize]&&video['thumbnails'][screenSize]['url']?
  video['thumbnails'][screenSize]['url']:'assets/imgs/no-video.png'" [alt]="video.title"
       onerror="this.src='assets/imgs/no-video.png'"/>
  <h5>{{video.title}}</h5>
  <input type="text" [value]="video.note" [(ngModel)]="video.note" (keyup)="videoNoteChange()">
</div>

<ng-template #placeholderTemplate>
  <div class="animated-background">

  </div>
</ng-template>
